[*.cs]
csharp_style_prefer_primary_constructors = false
dotnet_style_prefer_collection_expression = false

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_method_or_operator_body = expression_body
resharper_place_single_method_argument_lambda_on_same_line = false
resharper_wrap_after_declaration_lpar = true
resharper_wrap_after_invocation_lpar = true
resharper_wrap_chained_binary_expressions = chop_if_long
